
/* GIPHY CODE = tEqLo5qpwf1Tb3MhyXoiqEZG0vCK8qk1 */

/*GIFOS CODE*/

:root {
    --color-header: linear-gradient(270deg, #F7C9F3 0% , #4180F6 100%);
    --color-de-fondo: #FFFFFF;
    --color-botones: #F7C9F3;
    --color-botones-hover: #ecc3ea;
}
[data-theme = "noche"]{
    --color-header: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    --color-de-fondo: #110038;
    --color-botones: #EE3EFE;
}

* {
    margin: 0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    position: relative;
    font-family: 'Chakra Petch', sans-serif;
} 
/*HEADER*/

header {
    background-image: var(--color-header);
    height: 28px;     
    border-bottom: 1px solid #110038;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    width: 100vw;
}
header h1 {
    color: #FFFFFF;  
    font-size: 12px;
    top: 20%;
    left: 0.5%;
    width: 90%;
}

/*ENCABEZADO*/

body {
    background-color:  #FFFAFE;
} 
.encabezado .logon {
    display: none;
}
.encabezado div .guifos {
    background-color: var(--color-botones);
    border: 1px solid #110038;
    font-size: 16px;
    cursor: pointer;
}
.encabezado div .guifos:hover {
    background-color: var(--color-botones-hover);
    border: 1px dotted #110038;
    outline: 1px solid #110038;
}
.encabezado div .guifos:active {
    background-color: var(--color-botones-hover);
    border: 1px dotted #110038;
    outline: 1px solid #110038;
}
.encabezado div ul button img {
    z-index: 3;
}
.encabezado div ul .tema {
    background-color: var(--color-botones);
    border: 1px solid #110038;
    font-size: 16px;
    cursor: pointer;    
} 
.encabezado div .tema:hover {
    background-color: var(--color-botones-hover);
    border: 1px dotted #110038;
    outline: 1px solid #110038;
}
.encabezado div .tema:active {
    background-color: var(--color-botones-hover);
    border: 1px dotted #110038;
    outline: 1px solid #110038;
}
.encabezado div ul .icono {
    background-color: var(--color-botones);
    border: 1px solid #110038;
    cursor: pointer;
}
.encabezado div .icono:hover {
    background-color: var(--color-botones-hover);
    border: 1px dotted #110038;
    outline: 1px solid #110038;
}
.encabezado div .icono:active {
    background-color: var(--color-botones-hover);
    border: 1px dotted #110038;
    outline: 1px solid #110038;
} 
.encabezado div ul div img {
    width: 10px;
    height: 6px;
    z-index: 3;
} 
.sailor {
    display: none;
    background-color: #E6E6E6;
    box-shadow: 2px 2px #B4B4B4;    
} 
.sailor button{
    box-sizing: content-box;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #B4B4B4;
}
.sailor button:active {
    box-shadow: none;
} 
.sailor .sd u {
    border-bottom: 1px solid rgba(17, 1, 54,0.5);    
}
.sailor .sn{
    box-sizing: content-box;
    background-color: #FFF4FD;
    box-shadow: 2px 2px #B4B4B4;
}
.sailor .sn:active {
    box-shadow: none;
}
.encabezado div a {    
    color: #110038;    
}
.encabezado div a:hover {
    border: 1px dotted #110038;
    box-sizing: content-box;
    padding: 7px 19px 7px 0px;
}
.encabezado div a:active {
    border: none;
    color: rgba(17, 0, 56, 0.5);
}
.encabezado div a u {
    border-bottom: 1px solid rgba(17, 1, 54,0.5);    
}

/* BUSCADOR */

.buscador {
    box-shadow: 2px 2px #B4B4B4;
}
.buscador .titulo {
    background-image: var(--color-header);     
} 
.buscador .titulo h2 {
    color: var(--color-de-fondo);
}
.buscador .buscar {
    background-color: #E6E6E6;
} 
.buscar form input {
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #979797;
    border-bottom: 2px solid #979797;
}
.buscar form input:focus ~ button  {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}
.buscar form input:focus ~ button .lupainactiva {
    display: none;
}
.buscar form input:focus ~ button .lupa {
    display: block;
}

.buscar form button {
    box-shadow: 2px 2px #B4B4B4;
    border: 1px solid #808080;
    color: #B4B4B4;
}
.buscar form button:active {
    background-color: var(--color-botones);
    border: 1px dotted #110038;
    outline: 1px solid #110038;
    color: #110038;
}
.lupa {
    display: none;
}
.lupal {
    display: none;
}
.buscar form button:active .lupa {
    display: block;
}
.buscar form button:active .lupainactiva {
    display: none;
}
.buscar form img {
    float: left;
}
.buscar .sch {
    background-color: #E6E6E6;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #B4B4B4;
    border-bottom: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    box-shadow: 1px 1px #B4B4B4;
    display: none;
}
.buscar .sch li button {
    box-sizing: content-box;
    background-color: #F0F0F0;
    border: 1px solid #B4B4B4;
    box-shadow: 1px 1px #B4B4B4;
}
.buscar .sch li button:hover {
    border: 1px dotted #110038;
    outline: 1px solid #110038;
    background-color: #B4B4B4;
} 
.buscar .sch li button:active {
    border: 1px dotted #110038;
    outline: 1px solid #110038;
    background-color: #B4B4B4;
} 

/* PROPUESTAS */

.propuestas {
    display: none;
}

.propuestas div .busquedassugeridas{
    box-sizing: content-box;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; 
    color: #FFFFFF;
}

/* SUGERENCIAS */

.sugerencias div {
    background-color: var(--color-de-fondo);
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}
.sugerencias div h2 {
    color: #110038;
}

/*GALERIA*/

.galeria {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.galeria div {
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.galeria div .area1{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    display: flex;    
    flex-direction: row;
    justify-content: space-between;    
}
.area1 p{    
    color: #FFFFFF;
}
.imagen1:hover {
    border: 1px dotted #110038;
} 
.galeria .boton1 {
    z-index: 3;
    box-sizing: content-box;
    color: #FFFFFF;
    background-color: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.galeria .boton1:hover {
    background-color: #3A72DB;
    border: 1px dotted #110038;
    outline: 1px solid #110038;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

/*TENDENCIAS*/

.tendencias div {
    background-color: var(--color-de-fondo);
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}
.tendencias div h2 {
    color: #110038;    
}

/* RESULTADOS */

.resultados {
    display: none;
}
.resultados div {
    background-color: var(--color-de-fondo);
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}
.resultados div h2 {
    color: #110038;
}

/*GALERIA 2*/

.galeria2 {
    display: grid;      
}
.galeria2 .divisiones:hover {
    border: 1px dotted #110038;
}
.galeria2 .divisiones{
    background-color: #E6E6E6;
} 

/*GALERIA GUIFOS*/

.misguifos {
    opacity: 0;
}
 
@media only screen and (min-width: 600px) {

    /*ENCABEZADO*/

.encabezado .logod {
    width: 7.5%;
    top: 2em;
    left: 7%;
}
.encabezado div .guifos {
    box-sizing: content-box;
    padding: 9px 26.5px 9px 26.5px; 
    top: 1px; 
    left: 52%;  
} 
.encabezado div .guifos:hover {
    padding: 9px 26.5px 9px 26.5px;
}

.encabezado div ul {
    left: 72%; 
    bottom: 30px;
    width: 16%; 
}
.encabezado div ul .tema {
    box-sizing: content-box;
    padding: 9px 26.5px 9px 26.5px;      
}
.encabezado div ul .icono {
    box-sizing: content-box;
    padding: 12px 15px 10px 14px;
    left: 137px;
    bottom: 41px;    
}
.encabezado div ul div {
    bottom: 2px; 
}
ul .sailor {    
    width: 176px;
    height: 6.5em;
    bottom: 41px;          
}
.sailor button {
    top: 6px;
    left: 10px;
    margin: 5%;
    padding: 8px 65px 8px 15px;
} 
.sailor .sn {
    top: 2px;
    left: 10px;
    margin: 5%;
    padding: 8px 58px 8px 15px;
}
.encabezado a {
    left: 68%;
    top: 10px;
}

/* BUSCADOR */

.buscador { 
    margin-left: 7.2%;
    margin-right: 10%;      
}
.buscador .titulo {
    height: 24px;    
} 
.buscador .titulo h2 {
    font-size: 14px;
    top: 15%;
    left: 6px;
}
.buscador .buscar {
    height: 75px;    
} 
.buscar form input {
    width: 88%;
    height: 48px;
    margin-left: 1%;
    top: 16px;
    font-size: 16px; 
} 
.buscar form button {
    width: 8.5%;
    height: 36px;
    font-size: 16px; 
    left: 8px;
    top: 16px;      
}
.buscar form div {
    left: 5%;
    top: 4px;
}
.buscar form .lupainactiva {
    height: 16px;
    width: 16px;
    left: 5%;
    top: 3px;
}
.buscar form .lupa {
    height: 16px;
    width: 16px;
    left: 5%;
    top: 3px;
}
.sch {
    height: 140px;
    top: 29px;
    z-index: 3;       
}
.buscar form:hover ~ .sch {
    display: block;
}       
.buscar .sch li button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1%;
    padding-right: 70%;
    margin-top: 11px;
    left: 1%;
    width: 244px;       
} 
.searcher {
    display: none;       
}

/* PROPUESTAS */

.propuestas div {
    margin-left: 7.2%;
    margin-right: 10%;
    top: 1em;
}
.propuestas div .busquedassugeridas{
    padding: 8px 7px 8px 7px;
    margin-left: 4px;
} 

/* SUGERENCIAS */

.sugerencias div {
    top: 5em;
    margin-left: 7.2%;
    margin-right: 10%;
    height: 32px;
}
.sugerencias div h2 {
    top: 20%;
    left: 1%;
    font-size: 14px;
}

/*GALERIA*/

.galeria {
    margin-left: 7.2%;
    margin-right: 10%;
    height: 313px;
    top: 6em;
}
.galeria div {
    width: 23.5%;
}
.galeria div .area1{
    width: 100%;
    height: 24px;    
}
.galeria div .area2{
    height:286px;
}
.area1 p {
    font-size: 14px;
    width: 60%;
    top: 10%;
    left: 2%;
}
.area1 button {
    width: 16px;
    height: 14px;
    top: 20%;
    right: 2%;
    
}
.galeria .container1 {
    overflow: hidden;
    width: 426%;
    height:288px;
}
.galeria .imagen1{
    width: 100%;
    height: 100%;
    position: absolute;
    
} 
.galeria .boton1{
    font-size: 14px;
    width: 61px;
    height: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    left: 15%;
    bottom: 4em;    
} 

/*TENDENCIAS*/

.tendencias div {
    top: 10em;
    margin-left: 7.2%;
    margin-right: 10%;
    height: 32px;
}
.tendencias div h2 {
    top: 20%;
    left: 1%;
    font-size: 14px;
}

/*RESULTADOS*/

.resultados div {
    top: 10em;
    margin-left: 7.2%;
    margin-right: 10%;
    height: 32px;
}
.resultados div h2 {
    top: 20%;
    left: 1%;
    font-size: 14px;
}


/*GALERIA 2*/

.galeria2 {
    margin-left: 7.2%;
    margin-right: 10%;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 296px 296px 296px; 
    top: 11em;     
    }
.galeria .divisiones{
    overflow: hidden;
    width: 300%

}    
.galeria2 .divisiones .imagenesGaleria{
        width: 100%;
        height: 100%;
        position: absolute;
        
}     


/*GALERIA GUIFOS*/

.misguifos {
    margin-left: 7.2%;
    margin-right: 10%;    
}

.misguifos .titulomg {
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    
}
.misguifos .titulomg h2 {
    font-size: 14px;
    top: 25%;
    left: 1%;
}
.misguifos .galeriaguif {
    display: flex;
    flex-direction: row; 
    top: 1em;      
}    
.misguifos .galeriaguif img {
    width: 25%;
    height: 298px;            
}
}
